In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

In [2]:
# PART 1 NASA Mars News

In [3]:
mars_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [4]:
response = requests.get(mars_url)

In [5]:
soup = bs(response.text, 'html.parser')

In [6]:
#print(soup.prettify())

In [7]:
title_results = soup.find_all('div', class_="content_title")
first_title = title_results[0].text
first_title

'\n\nNASA Invites Students to Name Mars 2020 Rover\n\n'

In [8]:
paragraph_results = soup.find_all('div', class_="rollover_description_inner")
first_para = paragraph_results[0].text
first_para

"\nThrough Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.\n"

In [9]:
# Part 2 JPL Mars Space Images - Featured Image

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [11]:
# image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
# browser.visit(image_url)

In [12]:
# Part 3 Mars Weather

In [13]:
weather_url = "https://twitter.com/marswxreport?lang=en"

In [14]:
response2 = requests.get(weather_url)
soup2 = bs(response2.text, 'html.parser')

In [15]:
#print(soup2.prettify())

In [16]:
#weather_results = soup.find_all('div', class_="js-tweet-text-container")
#recent_weather = weather_results[0].text
#recent_weather

In [17]:
# weather_results = soup.find_all('div', class_="js-tweet-text-container")
# weather = []

# for x in weather_results:
#     if "sol" in x.text:
#         weather.append(x)
        
# mars_weather = weather[0]
# mars_weather

In [18]:
# Part 4 Mars Facts

In [25]:
facts_url = "https://space-facts.com/mars/"

In [30]:
response3 = requests.get(facts_url)
soup3 = bs(response3.text, 'lxml')
#print(soup3.prettify())

In [31]:
mars = soup3.find('table', attrs={'class':'tablepress-id-comp-mars'})
data = mars.find_all('tr')
points = []

for x in data:
    table_head = x.find_all('th')
    if len(table_head) != 0:
        header = [x.text for x in table_head]
    else:
        td = x.find_all('td')
        row = [x.text for x in td]
        points.append(row)
        
fact_df = pd.DataFrame(points, columns=header)
fact_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [32]:
just_mars = fact_df.drop('Earth', axis=1)
just_mars.rename(columns={'Mars - Earth Comparison': 'Measurements'})

         Measurements             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [ ]:
just_mars.to_html()

In [22]:
# Part 5 Mars Hemispheres

In [23]:
img_urls = ["https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced",
           "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced",
           "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced",
           "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"]

pictures = []

for x in img_urls:
    urls = requests.get(x)
    bs4 = bs(urls.text, 'html.parser')    
    row = {'title': bs4.title.text.split(' Enhanced')[0],
          'img_url': bs4.find('div', class_='downloads').a['href']}
    pictures.append(row)

In [24]:
pictures

[{'title': 'Cerberus Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
#!jupyter nbconvert --to script Untitled.ipynb